.startButton{
    position: relative;
    top:-320px;
    right: -300px;
    width: 100px;
    height: 100px;
    opacity: 0;
}

.app{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: 600px;
    position: relative;
}

.advanceButton{
    position: relative;
    top:-520px;
    right: -500px;
    width: 300px;
    height: 100px;
    opacity: 0;
}


.battleField{
    width: 120%;
}

.frame1{
    position: absolute;
    display:  flex;
}
.lawn{
    position: absolute;
    left:220px;
    top: 65px;
}
.lawn > img{
    margin: -15px;
    width: 630px;
    height: 109px;
}

.plantSlot{
    margin-left: 100px;
    width: 300px;
    height: 100px;
    border: 1px solid red;
}