.startButton{
    position: relative;
    top:-320px;
    right: -300px;
    width: 100px;
    height: 100px;
    opacity: 0;
}

.app{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: 600px;
    position: relative;
}

.advanceButton{
    position: relative;
    top:-520px;
    right: -500px;
    width: 300px;
    height: 100px;
    opacity: 0;
}


.battleField{
    width: 120%;
    /*transform: translateX(50px);*/
}

.frame1{
    position: absolute;
    display:  flex;
}
.lawn{
    position: absolute;
    left:220px;
    top: 65px;
}
.lawn > img{
    margin: -15px;
    width: 630px;
    height: 109px;
}


.playGroundMask{
    position: absolute;
    left:120px;
    top: 65px;
    
}

.playGroundMask td{
    width: 75px;
    height: 92px;
    position: relative;
    border: 1px solid;
    /*overflow: hidden;*/
    /*overflow-y: hidden;*/
}

.zombie{
    height: 150px;
    width: 130px;
    transform:translateY( -60px);
    position: absolute;
    right: -10px;
    
}

.plantSlot{
    position: absolute;
    left: 10px;
}

.plantSlot li{
    /*border: 5px solid red;*/
}

.plant{
    top:10px;
    height: 80%;
    width: 100%;
}

#sunBack{
    
    position: absolute;
    left: 120px;
    top: 10px;
}

#sunBack > span{
    position: absolute;
    right: 30px;
    font-size: 24px;
}


.SunFlower{
    background: url(../imgs/SunFlower.gif);
}

.rails li{
    border: 1px solid red;
    height: 93px;
    width: 700px;

}

.rails{
    position: absolute;
    top: 70px;
    left: 120px;
}
.Right1{
    right: 1px;
}
.Right2{
    right: 2px;
}
.Right3{
    right: 3px;
}

.Right4{
    right: 4px;
}
.Right5{
    right: 5px;
}

.Right6{
    right: 6px;
}
.Right7{
    right: 7px;
}
.Right8{
    right: 8px;
}

.Right9{
    right: 9px;
}
.Right10{
    right: 10px;
}
.Right11{
    right: 11px;
}
.Right12{
    right: 12px;
}
.Right13{
    right: 13px;
}

.Right14{
    right: 14px;
}
.Right15{
    right: 15px;
}

.Right16{
    right: 16px;
}
.Right17{
    right: 17px;
}
.Right18{
    right: 18px;
}

.Right19{
    right: 19px;
}


.Right20{
    right: 20px;
}
.Right21{
    right: 21px;
}
.Right22{
    right: 22px;
}
.Right23{
    right: 23px;
}

.Right24{
    right: 24px;
}
.Right25{
    right: 25px;
}

.Right26{
    right: 26px;
}
.Right27{
    right: 27px;
}
.Right28{
    right: 28px;
}

.Right29{
    right: 29px;
}



.Right30{
    right: 30px;
}
.Right31{
    right: 31px;
}
.Right32{
    right: 32px;
}
.Right33{
    right: 33px;
}

.Right34{
    right: 34px;
}
.Right35{
    right: 35px;
}

.Right36{
    right: 36px;
}
.Right37{
    right: 37px;
}
.Right38{
    right: 38px;
}

.Right39{
    right: 39px;
}

.Right40{
    right: 40px;
}
.Right41{
    right: 41px;
}
.Right42{
    right: 42px;
}
.Right43{
    right: 43px;
}

.Right44{
    right: 44px;
}
.Right45{
    right: 45px;
}

.Right46{
    right: 46px;
}
.Right47{
    right: 47px;
}
.Right48{
    right: 48px;
}

.Right49{
    right: 49px;
}


.Right50{
    right: 50px;
}
.Right51{
    right: 51px;
}
.Right52{
    right: 52px;
}
.Right53{
    right: 53px;
}

.Right54{
    right: 54px;
}
.Right55{
    right: 55px;
}

.Right56{
    right: 56px;
}
.Right57{
    right: 57px;
}
.Right58{
    right: 58px;
}

.Right59{
    right: 59px;
}

.Right60{
    right: 60px;
}
.Right61{
    right: 61px;
}
.Right62{
    right: 62px;
}
.Right63{
    right: 63px;
}

.Right64{
    right: 64px;
}
.Right65{
    right: 65px;
}

.Right66{
    right: 66px;
}
.Right67{
    right: 67px;
}
.Right68{
    right: 68px;
}

.Right69{
    right: 69px;
}

.Right70{
    right: 70px;
}
.Right71{
    right: 71px;
}
.Right72{
    right: 72px;
}
.Right73{
    right: 73px;
}

.Right74{
    right: 74px;
}
.Right75{
    right: 75px;
}

.Right76{
    right: 76px;
}
.Right77{
    right: 77px;
}
.Right78{
    right: 78px;
}

.Right79{
    right: 79px;
}

.Right80{
    right: 80px;
}
.Right81{
    right: 81px;
}
.Right82{
    right: 82px;
}
.Right83{
    right: 83px;
}

.Right84{
    right: 84px;
}
.Right85{
    right: 85px;
}

.Right86{
    right: 86px;
}
.Right87{
    right: 87px;
}
.Right88{
    right: 88px;
}

.Right89{
    right: 89px;
}

.Right90{
    right: 90px;
}
.Right91{
    right: 91px;
}
.Right92{
    right: 92px;
}
.Right93{
    right: 93px;
}

.Right94{
    right: 94px;
}
.Right95{
    right: 95px;
}

.Right96{
    right: 96px;
}
.Right97{
    right: 97px;
}
.Right98{
    right: 98px;
}

.Right99{
    right: 99px;
}
.Right100{
    right: 100px;
}
.Right101{
    right: 101px;
}
.Right102{
    right: 102px;
}
.Right103{
    right: 103px;
}

.Right104{
    right: 104px;
}
.Right105{
    right: 105px;
}

.Right106{
    right: 106px;
}
.Right107{
    right: 107px;
}
.Right108{
    right: 108px;
}

.Right109{
    right: 109px;
}
.Right110{
    right: 110px;
}
.Right111{
    right: 111px;
}
.Right112{
    right: 112px;
}
.Right113{
    right: 113px;
}

.Right114{
    right: 114px;
}
.Right115{
    right: 115px;
}

.Right116{
    right: 116px;
}
.Right117{
    right: 117px;
}
.Right118{
    right: 118px;
}

.Right119{
    right: 119px;
}
.Right120{
    right: 120px;
}
.Right121{
    right: 121px;
}
.Right122{
    right: 122px;
}
.Right123{
    right: 123px;
}

.Right124{
    right: 124px;
}
.Right125{
    right: 125px;
}

.Right126{
    right: 126px;
}
.Right127{
    right: 127px;
}
.Right128{
    right: 128px;
}

.Right129{
    right: 129px;
}
.Right130{
    right: 130px;
}
.Right131{
    right: 131px;
}
.Right132{
    right: 132px;
}
.Right133{
    right: 133px;
}

.Right134{
    right: 134px;
}
.Right135{
    right: 135px;
}

.Right136{
    right: 136px;
}
.Right137{
    right: 137px;
}
.Right138{
    right: 138px;
}

.Right139{
    right: 139px;
}

.Right140{
    right: 140px;
}
.Right141{
    right: 141px;
}
.Right142{
    right: 142px;
}
.Right143{
    right: 143px;
}

.Right144{
    right: 144px;
}
.Right145{
    right: 145px;
}

.Right146{
    right: 146px;
}
.Right147{
    right: 147px;
}
.Right148{
    right: 148px;
}

.Right149{
    right: 149px;
}


.Right150{
    right: 150px;
}
.Right151{
    right: 151px;
}
.Right152{
    right: 152px;
}
.Right153{
    right: 153px;
}

.Right154{
    right: 154px;
}
.Right155{
    right: 155px;
}

.Right156{
    right: 156px;
}
.Right157{
    right: 157px;
}
.Right158{
    right: 158px;
}

.Right159{
    right: 159px;
}


.Right160{
    right: 160px;
}
.Right161{
    right: 161px;
}
.Right162{
    right: 162px;
}
.Right163{
    right: 163px;
}

.Right164{
    right: 164px;
}
.Right165{
    right: 165px;
}

.Right166{
    right: 166px;
}
.Right167{
    right: 167px;
}
.Right168{
    right: 168px;
}

.Right169{
    right: 169px;
}


.Right170{
    right: 170px;
}
.Right171{
    right: 171px;
}
.Right172{
    right: 172px;
}
.Right173{
    right: 173px;
}

.Right174{
    right: 174px;
}
.Right175{
    right: 175px;
}

.Right176{
    right: 176px;
}
.Right177{
    right: 177px;
}
.Right178{
    right: 178px;
}

.Right179{
    right: 179px;
}

.Right180{
    right: 180px;
}
.Right181{
    right: 181px;
}
.Right182{
    right: 182px;
}
.Right183{
    right: 183px;
}

.Right184{
    right: 184px;
}
.Right185{
    right: 185px;
}

.Right186{
    right: 186px;
}
.Right187{
    right: 187px;
}
.Right188{
    right: 188px;
}

.Right189{
    right: 189px;
}


.Right190{
    right: 190px;
}
.Right191{
    right: 191px;
}
.Right192{
    right: 192px;
}
.Right193{
    right: 193px;
}

.Right194{
    right: 194px;
}
.Right195{
    right: 195px;
}

.Right196{
    right: 196px;
}
.Right197{
    right: 197px;
}
.Right198{
    right: 198px;
}

.Right199{
    right: 199px;
}

.Right200{
    right: 200px;
}
.Right201{
    right: 201px;
}
.Right202{
    right: 202px;
}
.Right203{
    right: 203px;
}

.Right204{
    right: 204px;
}
.Right205{
    right: 205px;
}

.Right206{
    right: 206px;
}
.Right207{
    right: 207px;
}
.Right208{
    right: 208px;
}

.Right209{
    right: 209px;
}
.Right210{
    right: 210px;
}
.Right211{
    right: 211px;
}
.Right212{
    right: 212px;
}
.Right213{
    right: 213px;
}

.Right214{
    right: 214px;
}
.Right215{
    right: 215px;
}

.Right216{
    right: 216px;
}
.Right217{
    right: 217px;
}
.Right218{
    right: 218px;
}

.Right219{
    right: 219px;
}
.Right220{
    right: 220px;
}
.Right221{
    right: 221px;
}
.Right222{
    right: 222px;
}
.Right223{
    right: 223px;
}

.Right224{
    right: 224px;
}
.Right225{
    right: 225px;
}

.Right226{
    right: 226px;
}
.Right227{
    right: 227px;
}
.Right228{
    right: 228px;
}

.Right229{
    right: 229px;
}
.Right230{
    right: 230px;
}
.Right231{
    right: 231px;
}
.Right232{
    right: 232px;
}
.Right233{
    right: 233px;
}

.Right234{
    right: 234px;
}
.Right235{
    right: 235px;
}

.Right236{
    right: 236px;
}
.Right237{
    right: 237px;
}
.Right238{
    right: 238px;
}

.Right239{
    right: 239px;
}

.Right240{
    right: 240px;
}
.Right241{
    right: 241px;
}
.Right242{
    right: 242px;
}
.Right243{
    right: 243px;
}

.Right244{
    right: 244px;
}
.Right245{
    right: 245px;
}

.Right246{
    right: 246px;
}
.Right247{
    right: 247px;
}
.Right248{
    right: 248px;
}

.Right249{
    right: 249px;
}


.Right250{
    right: 250px;
}
.Right251{
    right: 251px;
}
.Right252{
    right: 252px;
}
.Right253{
    right: 253px;
}

.Right254{
    right: 254px;
}
.Right255{
    right: 255px;
}

.Right256{
    right: 256px;
}
.Right257{
    right: 257px;
}
.Right258{
    right: 258px;
}

.Right259{
    right: 259px;
}


.Right260{
    right: 260px;
}
.Right261{
    right: 261px;
}
.Right262{
    right: 262px;
}
.Right263{
    right: 263px;
}

.Right264{
    right: 264px;
}
.Right265{
    right: 265px;
}

.Right266{
    right: 266px;
}
.Right267{
    right: 267px;
}
.Right268{
    right: 268px;
}

.Right269{
    right: 269px;
}


.Right270{
    right: 270px;
}
.Right271{
    right: 271px;
}
.Right272{
    right: 272px;
}
.Right273{
    right: 273px;
}

.Right274{
    right: 274px;
}
.Right275{
    right: 275px;
}

.Right276{
    right: 276px;
}
.Right277{
    right: 277px;
}
.Right278{
    right: 278px;
}

.Right279{
    right: 279px;
}

.Right280{
    right: 280px;
}
.Right281{
    right: 281px;
}
.Right282{
    right: 282px;
}
.Right283{
    right: 283px;
}

.Right284{
    right: 284px;
}
.Right285{
    right: 285px;
}

.Right286{
    right: 286px;
}
.Right287{
    right: 287px;
}
.Right288{
    right: 288px;
}

.Right289{
    right: 289px;
}


.Right290{
    right: 290px;
}
.Right291{
    right: 291px;
}
.Right292{
    right: 292px;
}
.Right293{
    right: 293px;
}

.Right294{
    right: 294px;
}
.Right295{
    right: 295px;
}

.Right296{
    right: 296px;
}
.Right297{
    right: 297px;
}
.Right298{
    right: 298px;
}

.Right299{
    right: 299px;
}
.Right300{
    right: 300px;
}
.Right301{
    right: 301px;
}
.Right302{
    right: 302px;
}
.Right303{
    right: 303px;
}

.Right304{
    right: 304px;
}
.Right305{
    right: 305px;
}

.Right306{
    right: 306px;
}
.Right307{
    right: 307px;
}
.Right308{
    right: 308px;
}

.Right309{
    right: 309px;
}
.Right310{
    right: 310px;
}
.Right311{
    right: 311px;
}
.Right312{
    right: 312px;
}
.Right313{
    right: 313px;
}

.Right314{
    right: 314px;
}
.Right315{
    right: 315px;
}

.Right316{
    right: 316px;
}
.Right317{
    right: 317px;
}
.Right318{
    right: 318px;
}

.Right319{
    right: 319px;
}
.Right320{
    right: 320px;
}
.Right321{
    right: 321px;
}
.Right322{
    right: 322px;
}
.Right323{
    right: 323px;
}

.Right324{
    right: 324px;
}
.Right325{
    right: 325px;
}

.Right326{
    right: 326px;
}
.Right327{
    right: 327px;
}
.Right328{
    right: 328px;
}

.Right329{
    right: 329px;
}
.Right330{
    right: 330px;
}
.Right331{
    right: 331px;
}
.Right332{
    right: 332px;
}
.Right333{
    right: 333px;
}

.Right334{
    right: 334px;
}
.Right335{
    right: 335px;
}

.Right336{
    right: 336px;
}
.Right337{
    right: 337px;
}
.Right338{
    right: 338px;
}

.Right339{
    right: 339px;
}

.Right340{
    right: 340px;
}
.Right341{
    right: 341px;
}
.Right342{
    right: 342px;
}
.Right343{
    right: 343px;
}

.Right344{
    right: 344px;
}
.Right345{
    right: 345px;
}

.Right346{
    right: 346px;
}
.Right347{
    right: 347px;
}
.Right348{
    right: 348px;
}

.Right349{
    right: 349px;
}


.Right350{
    right: 350px;
}
.Right351{
    right: 351px;
}
.Right352{
    right: 352px;
}
.Right353{
    right: 353px;
}

.Right354{
    right: 354px;
}
.Right355{
    right: 355px;
}

.Right356{
    right: 356px;
}
.Right257{
    right: 357px;
}
.Right358{
    right: 358px;
}

.Right359{
    right: 359px;
}


.Right360{
    right: 360px;
}
.Right361{
    right: 361px;
}
.Right362{
    right: 362px;
}
.Right363{
    right: 363px;
}

.Right364{
    right: 364px;
}
.Right365{
    right: 365px;
}

.Right366{
    right: 366px;
}
.Right367{
    right: 367px;
}
.Right368{
    right: 368px;
}

.Right369{
    right: 369px;
}


.Right370{
    right: 370px;
}
.Right371{
    right: 371px;
}
.Right372{
    right: 372px;
}
.Right373{
    right: 373px;
}

.Right374{
    right: 374px;
}
.Right375{
    right: 375px;
}

.Right376{
    right: 376px;
}
.Right377{
    right: 377px;
}
.Right378{
    right: 378px;
}

.Right379{
    right: 379px;
}

.Right380{
    right: 380px;
}
.Right381{
    right: 381px;
}
.Right382{
    right: 382px;
}
.Right383{
    right: 383px;
}

.Right384{
    right: 384px;
}
.Right385{
    right: 385px;
}

.Right386{
    right: 386px;
}
.Right387{
    right: 387px;
}
.Right388{
    right: 388px;
}

.Right389{
    right: 389px;
}


.Right390{
    right: 390px;
}
.Right391{
    right: 391px;
}
.Right392{
    right: 392px;
}
.Right393{
    right: 393px;
}

.Right394{
    right: 394px;
}
.Right395{
    right: 395px;
}

.Right396{
    right: 396px;
}
.Right397{
    right: 397px;
}
.Right398{
    right: 398px;
}

.Right399{
    right: 399px;
}
.Right400{
    right: 400px;
}
.Right401{
    right: 401px;
}
.Right402{
    right: 402px;
}
.Right403{
    right: 403px;
}

.Right404{
    right: 404px;
}
.Right405{
    right: 405px;
}

.Right406{
    right: 406px;
}
.Right407{
    right: 407px;
}
.Right408{
    right: 408px;
}

.Right409{
    right: 409px;
}
.Right410{
    right: 410px;
}
.Right411{
    right: 411px;
}
.Right412{
    right: 412px;
}
.Right413{
    right: 413px;
}

.Right414{
    right: 414px;
}
.Right415{
    right: 415px;
}

.Right416{
    right: 416px;
}
.Right417{
    right: 417px;
}
.Right418{
    right: 418px;
}

.Right419{
    right: 419px;
}
.Right420{
    right: 420px;
}
.Right421{
    right: 421px;
}
.Right422{
    right: 422px;
}
.Right423{
    right: 423px;
}

.Right424{
    right: 424px;
}
.Right425{
    right: 425px;
}

.Right426{
    right: 426px;
}
.Right427{
    right: 427px;
}
.Right428{
    right: 428px;
}

.Right429{
    right: 429px;
}
.Right430{
    right: 430px;
}
.Right431{
    right: 431px;
}
.Right432{
    right: 432px;
}
.Right433{
    right: 433px;
}

.Right434{
    right: 434px;
}
.Right435{
    right: 435px;
}

.Right436{
    right: 436px;
}
.Right437{
    right: 437px;
}
.Right438{
    right: 438px;
}

.Right439{
    right: 439px;
}

.Right440{
    right: 440px;
}
.Right441{
    right: 441px;
}
.Right442{
    right: 442px;
}
.Right443{
    right: 443px;
}

.Right444{
    right: 444px;
}
.Right445{
    right: 445px;
}

.Right446{
    right: 446px;
}
.Right447{
    right: 447px;
}
.Right448{
    right: 448px;
}

.Right449{
    right: 449px;
}


.Right450{
    right: 450px;
}
.Right451{
    right: 451px;
}
.Right452{
    right: 452px;
}
.Right453{
    right: 453px;
}

.Right454{
    right: 454px;
}
.Right455{
    right: 455px;
}

.Right456{
    right: 456px;
}
.Right457{
    right: 457px;
}
.Right458{
    right: 458px;
}

.Right459{
    right: 459px;
}


.Right460{
    right: 460px;
}
.Right461{
    right: 461px;
}
.Right462{
    right: 462px;
}
.Right463{
    right: 463px;
}

.Right464{
    right: 464px;
}
.Right465{
    right: 465px;
}

.Right466{
    right: 466px;
}
.Right467{
    right: 467px;
}
.Right468{
    right: 468px;
}

.Right469{
    right: 469px;
}


.Right470{
    right: 470px;
}
.Right471{
    right: 471px;
}
.Right472{
    right: 472px;
}
.Right473{
    right: 473px;
}

.Right474{
    right: 474px;
}
.Right475{
    right: 475px;
}

.Right476{
    right: 476px;
}
.Right477{
    right: 477px;
}
.Right478{
    right: 478px;
}

.Right479{
    right: 479px;
}

.Right480{
    right: 480px;
}
.Right481{
    right: 481px;
}
.Right482{
    right: 482px;
}
.Right483{
    right: 483px;
}

.Right484{
    right: 484px;
}
.Right485{
    right: 485px;
}

.Right486{
    right: 486px;
}
.Right487{
    right: 487px;
}
.Right488{
    right: 488px;
}

.Right489{
    right: 489px;
}


.Right490{
    right: 490px;
}
.Right491{
    right: 491px;
}
.Right492{
    right: 492px;
}
.Right493{
    right: 493px;
}

.Right494{
    right: 494px;
}
.Right495{
    right: 495px;
}

.Right496{
    right: 496px;
}
.Right497{
    right: 497px;
}
.Right498{
    right: 498px;
}

.Right499{
    right: 499px;
}
 
.Right500{            
    right: 500px;       
}
.Right501{            
    right: 501px;       
}
.Right502{            right: 502px;       }.Right503{            right: 503px;       }.Right504{            right: 504px;       }.Right505{            right: 505px;       }.Right506{            right: 506px;       }.Right507{            right: 507px;       }.Right508{            right: 508px;       }.Right509{            right: 509px;       }.Right510{            right: 510px;       }.Right511{            right: 511px;       }.Right512{            right: 512px;       }.Right513{            right: 513px;       }.Right514{            right: 514px;       }.Right515{            right: 515px;       }.Right516{            right: 516px;       }.Right517{            right: 517px;       }.Right518{            right: 518px;       }.Right519{            right: 519px;       }.Right520{            right: 520px;       }.Right521{            right: 521px;       }.Right522{            right: 522px;       }.Right523{            right: 523px;       }.Right524{            right: 524px;       }.Right525{            right: 525px;       }.Right526{            right: 526px;       }.Right527{            right: 527px;       }.Right528{            right: 528px;       }.Right529{            right: 529px;       }.Right530{            right: 530px;       }.Right531{            right: 531px;       }.Right532{            right: 532px;       }.Right533{            right: 533px;       }.Right534{            right: 534px;       }.Right535{            right: 535px;       }.Right536{            right: 536px;       }.Right537{            right: 537px;       }.Right538{            right: 538px;       }.Right539{            right: 539px;       }.Right540{            right: 540px;       }.Right541{            right: 541px;       }.Right542{            right: 542px;       }.Right543{            right: 543px;       }.Right544{            right: 544px;       }.Right545{            right: 545px;       }.Right546{            right: 546px;       }.Right547{            right: 547px;       }.Right548{            right: 548px;       }.Right549{            right: 549px;       }.Right550{            right: 550px;       }.Right551{            right: 551px;       }.Right552{            right: 552px;       }.Right553{            right: 553px;       }.Right554{            right: 554px;       }.Right555{            right: 555px;       }.Right556{            right: 556px;       }.Right557{            right: 557px;       }.Right558{            right: 558px;       }.Right559{            right: 559px;       }.Right560{            right: 560px;       }.Right561{            right: 561px;       }.Right562{            right: 562px;       }.Right563{            right: 563px;       }.Right564{            right: 564px;       }.Right565{            right: 565px;       }.Right566{            right: 566px;       }.Right567{            right: 567px;       }.Right568{            right: 568px;       }.Right569{            right: 569px;       }.Right570{            right: 570px;       }.Right571{            right: 571px;       }.Right572{            right: 572px;       }.Right573{            right: 573px;       }.Right574{            right: 574px;       }.Right575{            right: 575px;       }.Right576{            right: 576px;       }.Right577{            right: 577px;       }.Right578{            right: 578px;       }.Right579{            right: 579px;       }.Right580{            right: 580px;       }.Right581{            right: 581px;       }.Right582{            right: 582px;       }.Right583{            right: 583px;       }.Right584{            right: 584px;       }.Right585{            right: 585px;       }.Right586{            right: 586px;       }.Right587{            right: 587px;       }.Right588{            right: 588px;       }.Right589{            right: 589px;       }.Right590{            right: 590px;       }.Right591{            right: 591px;       }.Right592{            right: 592px;       }.Right593{            right: 593px;       }.Right594{            right: 594px;       }.Right595{            right: 595px;       }.Right596{            right: 596px;       }.Right597{            right: 597px;       }.Right598{            right: 598px;       }.Right599{            right: 599px;       }.Right600{            right: 600px;       }.Right601{            right: 601px;       }.Right602{            right: 602px;       }.Right603{            right: 603px;       }.Right604{            right: 604px;       }.Right605{            right: 605px;       }.Right606{            right: 606px;       }.Right607{            right: 607px;       }.Right608{            right: 608px;       }.Right609{            right: 609px;       }.Right610{            right: 610px;       }.Right611{            right: 611px;       }.Right612{            right: 612px;       }.Right613{            right: 613px;       }.Right614{            right: 614px;       }.Right615{            right: 615px;       }.Right616{            right: 616px;       }.Right617{            right: 617px;       }.Right618{            right: 618px;       }.Right619{            right: 619px;       }.Right620{            right: 620px;       }.Right621{            right: 621px;       }.Right622{            right: 622px;       }.Right623{            right: 623px;       }.Right624{            right: 624px;       }.Right625{            right: 625px;       }.Right626{            right: 626px;       }.Right627{            right: 627px;       }.Right628{            right: 628px;       }.Right629{            right: 629px;       }.Right630{            right: 630px;       }
.Right631{            right: 631px;       }.Right632{            right: 632px;       }.Right633{            right: 633px;       }.Right634{            right: 634px;       }.Right635{            right: 635px;       }.Right636{            right: 636px;       }.Right637{            right: 637px;       }.Right638{            right: 638px;       }.Right639{            right: 639px;       }.Right640{            right: 640px;       }.Right641{            right: 641px;       }.Right642{            right: 642px;       }.Right643{            right: 643px;       }.Right644{            right: 644px;       }.Right645{            right: 645px;       }.Right646{            right: 646px;       }.Right647{            right: 647px;       }.Right648{            right: 648px;       }.Right649{            right: 649px;       }.Right650{            right: 650px;       }.Right651{            right: 651px;       }.Right652{            right: 652px;       }.Right653{            right: 653px;       }.Right654{            right: 654px;       }.Right655{            right: 655px;       }.Right656{            right: 656px;       }.Right657{            right: 657px;       }.Right658{            right: 658px;       }.Right659{            right: 659px;       }.Right660{            right: 660px;       }.Right661{            right: 661px;       }.Right662{            right: 662px;       }.Right663{            right: 663px;       }.Right664{            right: 664px;       }.Right665{            right: 665px;       }.Right666{            right: 666px;       }.Right667{            right: 667px;       }.Right668{            right: 668px;       }.Right669{            right: 669px;       }.Right670{            right: 670px;       }.Right671{            right: 671px;       }.Right672{            right: 672px;       }.Right673{            right: 673px;       }.Right674{            right: 674px;       }.Right675{            right: 675px;       }.Right676{            right: 676px;       }.Right677{            right: 677px;       }.Right678{            right: 678px;       }.Right679{            right: 679px;       }.Right680{            right: 680px;       }.Right681{            right: 681px;       }.Right682{            right: 682px;       }.Right683{            right: 683px;       }.Right684{            right: 684px;       }.Right685{            right: 685px;       }.Right686{            right: 686px;       }.Right687{            right: 687px;       }.Right688{            right: 688px;       }.Right689{            right: 689px;       }.Right690{            right: 690px;       }.Right691{            right: 691px;       }.Right692{            right: 692px;       }.Right693{            right: 693px;       }.Right694{            right: 694px;       }.Right695{            right: 695px;       }.Right696{            right: 696px;       }.Right697{            right: 697px;       }.Right698{            right: 698px;       }.Right699{            right: 699px;       }.Right700{            right: 700px;       }'