.zombie{
    height: 150px;
    width: 130px;
    transform: translateY(-80px);
    position: absolute;
    right: 0px;
}

.Right1{
    right: 5px;
}
.Right2{
    right: 10px;
}
.Right3{
    right: 15px;
}
.Right4{
    right: 20px;
}
.Right5{
    right: 25px;
}
.Right6{
    right: 30px;
}
.Right7{
    right: 35px;
}
.Right8{
    right: 40px;
}

.Right9{
    right: 45px;
}
.Right10{
    right: 50px;
}
.Right11{
    right: 55px;
}
.Right12{
    right: 60px;
}
.Right13{
    right: 65px;
}
.Right14{
    right: 70px;
}
.Right15{
    right: 75px;
}
.Right16{
    right: 80px;
}
.Right17{right:85px;}
.Right18{right:90px;}
.Right19{right:95px;}.Right20{right:100px;}
.Right21{right:105px;}.Right22{right:110px;}
.Right23{right:115px;}.Right24{right:120px;}
.Right25{right:125px;}.Right26{right:130px;}
.Right27{right:135px;}.Right28{right:140px;}
.Right29{right:145px;}.Right30{right:150px;}
.Right31{right:155px;}.Right32{right:160px;}
.Right33{right:165px;}.Right34{right:170px;}
.Right35{right:175px;}.Right36{right:180px;}
.Right37{right:185px;}.Right38{right:190px;}
.Right39{right:195px;}.Right40{right:200px;}
.Right41{right:205px;}.Right42{right:210px;}
.Right43{right:215px;}.Right44{right:220px;}
.Right45{right:225px;}.Right46{right:230px;}
.Right47{right:235px;}.Right48{right:240px;}
.Right49{right:245px;}.Right50{right:250px;}
.Right51{right:255px;}.Right52{right:260px;}
.Right53{right:265px;}.Right54{right:270px;}
.Right55{right:275px;}.Right56{right:280px;}
.Right57{right:285px;}.Right58{right:290px;}
.Right59{right:295px;}.Right60{right:300px;}
.Right61{right:305px;}.Right62{right:310px;}
.Right63{right:315px;}.Right64{right:320px;}
.Right65{right:325px;}.Right66{right:330px;}
.Right67{right:335px;}.Right68{right:340px;}.Right69{right:345px;}.Right70{right:350px;}.Right71{right:355px;}.Right72{right:360px;}.Right73{right:365px;}.Right74{right:370px;}.Right75{right:375px;}.Right76{right:380px;}.Right77{right:385px;}.Right78{right:390px;}.Right79{right:395px;}.Right80{right:400px;}.Right81{right:405px;}.Right82{right:410px;}.Right83{right:415px;}.Right84{right:420px;}.Right85{right:425px;}.Right86{right:430px;}.Right87{right:435px;}.Right88{right:440px;}.Right89{right:445px;}.Right90{right:450px;}.Right91{right:455px;}.Right92{right:460px;}.Right93{right:465px;}.Right94{right:470px;}.Right95{right:475px;}.Right96{right:480px;}.Right97{right:485px;}.Right98{right:490px;}.Right99{right:495px;}.Right100{right:500px;}.Right101{right:505px;}.Right102{right:510px;}.Right103{right:515px;}.Right104{right:520px;}.Right105{right:525px;}.Right106{right:530px;}.Right107{right:535px;}.Right108{right:540px;}.Right109{right:545px;}.Right110{right:550px;}.Right111{right:555px;}.Right112{right:560px;}.Right113{right:565px;}.Right114{right:570px;}.Right115{right:575px;}.Right116{right:580px;}.Right117{right:585px;}.Right118{right:590px;}.Right119{right:595px;}.Right120{right:600px;}.Right121{right:605px;}.Right122{right:610px;}.Right123{right:615px;}.Right124{right:620px;}.Right125{right:625px;}.Right126{right:630px;}.Right127{right:635px;}.Right128{right:640px;}.Right129{right:645px;}.Right130{right:650px;}.Right131{right:655px;}.Right132{right:660px;}.Right133{right:665px;}.Right134{right:670px;}.Right135{right:675px;}.Right136{right:680px;}.Right137{right:685px;}.Right138{right:690px;}.Right139{right:695px;}.Right140{right:700px;}.Right141{right:705px;}.Right142{right:710px;}.Right143{right:715px;}.Right144{right:720px;}.Right145{right:725px;}.Right146{right:730px;}.Right147{right:735px;}.Right148{right:740px;}.Right149{right:745px;}.Right150{right:750px;}.Right151{right:755px;}.Right152{right:760px;}.Right153{right:765px;}.Right154{right:770px;}.Right155{right:775px;}.Right156{right:780px;}.Right157{right:785px;}.Right158{right:790px;}.Right159{right:795px;}.Right160{right:800px;}.Right161{right:805px;}.Right162{right:810px;}.Right163{right:815px;}.Right164{right:820px;}.Right165{right:825px;}.Right166{right:830px;}.Right167{right:835px;}.Right168{right:840px;}.Right169{right:845px;}.Right170{right:850px;}.Right171{right:855px;}.Right172{right:860px;}.Right173{right:865px;}.Right174{right:870px;}.Right175{right:875px;}.Right176{right:880px;}.Right177{right:885px;}.Right178{right:890px;}.Right179{right:895px;}.Right180{right:900px;}.Right181{right:905px;}.Right182{right:910px;}.Right183{right:915px;}.Right184{right:920px;}.Right185{right:925px;}.Right186{right:930px;}.Right187{right:935px;}.Right188{right:940px;}.Right189{right:945px;}.Right190{right:950px;}.Right191{right:955px;}.Right192{right:960px;}.Right193{right:965px;}.Right194{right:970px;}.Right195{right:975px;}.Right196{right:980px;}.Right197{right:985px;}.Right198{right:990px;}.Right199{right:995px;}.Right200{right:1000px;}