<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Plants VS Zombie</title>
</head>
<body>
    <!--<script src="https://unpkg.com/petite-vue" defer init></script>-->
    <div v-scope id="app" class="app" >
      <div v-if="welcome" class="container" >
        <img src="./imgs/welcome.PNG">
        <button @click="onStartClick" class="startButton">开始游戏</button>
    </div>
    <div v-if="menu" class="container">
      <img src="./imgs/menu.PNG">
      <button class="advanceButton" @click="advanceClick">开始冒险</button>
    </div>
    <div v-if="playground" id="playground" class="container" 
      @mousemove="onMouseMove"
    >
    
      <div id="sunBack">
          <img src="./imgs/SunBack.png">
        <span>{{sun}}</span>
        </div>
      <div class="plantSlot">
       
        <ul @click="selectPlant">
          <li>
          <img type="PeaShooter" src="./imgs/Peashooter1.png" >
          
          </li>
          <li>
            <img type="SunFlower" src="./imgs/SunFlower1.png">
          </li>
        </ul>
      </div>
      
    <img src="./imgs/background2.jpg"> 
    <table class="playGroundMask">
      <tbody @click="onTableClick">
       
        <tr v-for="row in rows">
          <td v-for="col in cols">
            <img src="./imgs/Zombie.gif" v-if="checkZombie(row, col)" class="zombie" v-bind:class="offsetRight">
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  
    </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
    // exposed to all expressions
      welcome: true, 
      playground: false, 
      menu: false,
      sun: 25,
      domObj:{},
      cols:[1,2,3,4,5,6,7,8,9],
      rows:[1,2,3,4,5],
      zombies:[{row: 5, col:9}],
      offsetRight:{} ,
      onStartClick(){
        this.welcome = false;
        this.menu = true;
      },
      advanceClick(){
        this.menu = false;
        this.playground = true;
        let count = 1;
        setInterval(()=>{
          this.offsetRight={};
          count++;
        
          count=(count%9)+1;
          if(count===1){
            this.zombies.forEach((zz)=>{zz.col--;
            //console.log(zz.col)
            })
          }
          this.offsetRight={["offset"+count.toString()]: true};
          
          
          //console.log(this.$refs['zombie']);
        }, 200);

      },
      checkZombie(row, col){
        let flag = false;
        for(let i=0; i<this.zombies.length; i++){
          if(this.zombies[i].row === row && 
             this.zombies[i].col === col){
            flag = true;
          }
        }
        return flag;
      },
      selectPlant(e){
        //console.log(e.target.getAttribute("type"));
       /* this.domObj=document.createElement('span');
        this.domObj.style.background=`url(./imgs/${e.target.getAttribute("type")}.gif) onrepeat 0 0`;
        this.domObj.style.width="75";
    console.log(this.domObj);
        this.domObj.style.height="90";
        */
        //document.querySelector("#playground").appendChild(this.domObj);
        //this.domObj.style="position: absolute;";
        //this.domObj.style.clip='rect(auto, auto, 74px, auto)';
        //this.domObj.style.top = e.pageY;
      },
      onTableClick(e){
        /*
        console.log(e.target)
        if(this.domObj!=={}){
          e.target?.append(this.domObj);
          this.domObj={};
        }
        */
      },
      onMouseMove(){

      }
    }).mount("#app")
    </script>
  
<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img{
    max-width: 100%;
  }
  ul,ol{
    list-style: none;
  }
</style>
</body>
</html>