<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/Zombie.css">
    <link rel="stylesheet" href="./css/sunshine.css">
    <title>Plants VS Zombie</title>
</head>
<body>
    <!--<script src="https://unpkg.com/petite-vue" defer init></script>-->
    <div v-scope id="app" class="app" >
      <div v-if="welcome" class="container" >
        <img src="./imgs/welcome.PNG">
        <button @click="onStartClick" class="startButton">开始游戏</button>
    </div>
    <div v-if="menu" class="container">
      <img src="./imgs/menu.PNG">
      <button class="advanceButton" @click="advanceClick">开始冒险</button>
    </div>
    <div v-if="playground" id="playground" class="container" 
      @mousemove="onMouseMove"
    >
    
      <div id="sunBack">
          <img src="./imgs/SunBack.png">
        <span>{{sun}}</span>
        </div>
      <div class="plantSlot">
       
        <ul @click="selectPlant">
          <li>
          <img type="PeaShooter" src="./imgs/Peashooter1.png" >
          
          </li>
          <li>
            <img type="SunFlower" src="./imgs/SunFlower1.png">
          </li>
        </ul>
      </div>
      
    <img src="./imgs/background2.jpg"> 
    
    <ol class="horizonRails">
      <li v-for="row in rows">
        <ul v-for="zombie in zombies">
        <img v-if="checkZombie(row, zombie)" class="zombie" src="./imgs/Zombie.gif"
        v-bind:class="zombie.right">
        </ul>
      </li>
    </ol>
    <ol class="verticalRails">
      <li v-for="col in cols">
        <ul v-for="sunshine in sunshines">
          <img v-if="checkSunshine(col, sunshine)" class="sunshine"
          v-bind:class="sunshine.top" src="imgs/Sun.gif">
        </ul>
      </li>
    </ol>
    </div>
  
    </div>

  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'

    createApp({
    // exposed to all expressions
      welcome: true, 
      playground: false, 
      menu: false,
      sun: 25,
      selectedPlant:null,
      cols:[1,2,3,4,5,6,7,8,9],
      rows:[1,2,3,4,5],
      zombies:[{row: 5, right:"Right1"}],
      sunshines:[{col: 1, top:"Top1"}],
      plants:[],
      offsetRight:{} ,
      onStartClick(){
        this.welcome = false;
        this.menu = true;
      },
      advanceClick(){
        this.menu = false;
        this.playground = true;
        let count = 1;
       setInterval(()=>{
         //console.log(1);
         for(let i=0; i<this.zombies.length; i++){
          let num =Number.parseInt( this.zombies[i].right.replace("Right", "") );
          num++;
           this.zombies[i].right=`Right${num}`
           //console.log(this.zombies[i].right);

         }
        }, 200);
      
      },
      checkZombie(row, zombie){
        //console.log(zombie);
        return zombie.row === row;
      },
      checkSunshine(col, sunshine){
        return sunshine.col === col;
      } ,     
      checkPlant(row, col){
        let flag = false;
        for(let i=0; i<this.plants.length; i++){
          if(this.plants[i].row === row && 
             this.plants[i].col === col){
            flag = true;
          }
        }
        return flag;
      },
      selectPlant(e){
        if(this.selectedPlant){
          this.selectPlant={}
        }
        this.selectPlant={kind: e.target.getAttribute("type")}
      },
      onTableClick(e){
        /*
        console.log(e.target)
        if(this.domObj!=={}){
          e.target?.append(this.domObj);
          this.domObj={};
        }
        */
       if(this.selectPlant){
         this.selectPlant.col = Number.parseInt( e.target.getAttribute("col"));
          this.selectPlant.row =  Number.parseInt( e.target.getAttribute("row"));
          this.plants.push(this.selectPlant);
          this.selectPlant=null;
       }
        console.log( e.target.getAttribute("col"), e.target.getAttribute("row"));
      },
      onMouseMove(){

      }
    }).mount("#app")
    </script>
  
<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img{
    max-width: 100%;
  }
  ul,ol{
    list-style: none;
  }
</style>
</body>
</html>